<div class="container">
  <h1>Hola este es mi primer proyecto en angular</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    @for (task of tasks(); track task) {
      <li>
        {{ task }}
      </li>
    }
  </ul>
  <hr />
  <h2>{{ "hola ".repeat(5) }}</h2>
  <p>la suma es 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ persona().age }} años.</p>
  <hr />
  <img [src]="persona().avatar" alt="perfil" />
  <input type="number" [value]="persona().age" />
  <button [disabled]="disable">submit</button>
  <hr />
  <button (click)="clickHandler()">click me</button>
  <button (dblclick)="clickHandler()">Doble Click</button>
  <p>(change)</p>
  <input
    type="number"
    [value]="persona().age"
    (change)="changeHandler($event)"
    />
  <p>(change)</p>
  <input
    type="text"
    [value]="persona().name"
    (change)="changeHandler($event)"
    />
  <p>(keydown)</p>
  <!-- oprimiendo tecla -->
  <input
    type="text"
    [value]="persona().name"
    (keydown)="keydownHandler($event)"
    />
  <p>(keydown shift)</p>
  <input
    type="text"
    [value]="persona().name"
    (keydown.shift.t)="clickHandler()"
    />
  <hr />
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />
  <p>name: {{ name() }}</p>

  <ul>
    <p>total:{{ tasks().length }}</p>
    @for (task of tasks(); track task; let i = $index) {
      <li>{{ i }} {{ task }}</li>
    }
  </ul>

  @if (1 !== 1) {
    <div>my contend</div>
  }
  @if (name() === 'nicolas') {
    <div>Soy nicolas..</div>
  }
  @if (name() === 'nicolas') {
    <div> Soy Nicolass</div>
  }
  <input type="number" [value]="persona().age" (change)="changeAge($event)" />
  @if (persona().name === 'nicolas' && persona().age > 18) {
    <div
      >
      soy nicolas y soy mayor de 18
    </div>
  } @else {
    soy menor de edad
  }
  <h2>If else new</h2>
  @if (persona().name === 'nicolas' && persona().age > 18) {
    <div>soy Nicolass y soy mayor de 18</div>
    }@else{
    <div>Soy Nicolass y soy menor de 18</div>
  }
  <hr/>
  <div>
    @switch (persona().name) {
      @case ('nicolas') {
        <p>soy nicolas...</p>
      }
      @case ('julian') {
        <p>soy julian</p>
      }
      @default {
        <p>no conozco a este tipo de persona</p>
      }
    }
  </div>
  <hr>
    <input type="color" [formControl] = colorCtrl>
    <p>color:{{colorCtrl.value}}</p>
    <svg>
      <g>
        <rect x="0" y ="0" height ="100" width="100" [attr.fill] ="colorCtrl.value"></rect><!--para poder modificar un atributo del svg se debe hacer por medio del attr-->
      </g>
    </svg>
    <hr>
      <input type="text" [formControl] = "widthCtrl">
      <span class="box" [style.width.px]="widthCtrl.value"></span>
      <hr>
        <p>
          <input type="text" [formControl] = "nameCtrl"><br>
          <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre Invalido</span>
        </p>
        <p>
          <input type="text">
        </p>
        <h2>New Form</h2>
        <ul>
          <p>total:{{ tasks().length }}</p>
          @for (task of tasks(); track task; let i = $index) {
            <li>{{ i }} {{ task }}</li>
          }
        </ul>
        <ul>
          @for (task of tasks(); track task; let i = $index) {
            <li>{{i}} {{task}}</li>
            }@empty {
            <li><strong>la lista esta en vacio</strong></li>
          }
        </ul>
        <hr>
          <h2>New switch</h2>
          <div>
            @switch (persona().name) {
              @case ('nicolas') {
                <p>soy nicolas...</p>
              }
              @case ('julian') {
                <p>soy julian</p>
              }
              @default {
                <p>no conozco a este tipo de persona</p>
              }
            }
          </div>
          <div>
            @switch (persona().name) {
              @case ('nicolas') {
                <p>soy nicolas</p>
              }
              @case ('julian') {
                <p>soy julian</p>
              }
              @default {
                <p>no soy Persona</p>
              }
            }
          </div>
        </div>
